 :root {
    --rojo: #e50914;
    --blanco: white;
    --gris: #303030;
    --gris-f: #757575;
    --negro: black;
    --tipo-titular:'Playfair Display', serif;
    --tipo-principal:'Inter', sans-serif;
  }

  @media screen and (prefers-color-scheme:light){
    :root {
      --blanco: #181818;
      --blanco-2: rgba(0,0,0,.2);
      --negro: #e0e0e0;
      --negro-5: rgba(255, 255, 255, 0.5);
      --negro-7: rgba(255, 255, 255, 0.75);
    }
  }
 
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: center;
    justify-content: center;
    align-items: center;
  }
  img, figure {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
    justify-content: center;
    align-items: center;
  }
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: none;
    align-items: center;
    justify-content: center;
  }
  video {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
  }
  p a {
    display: inline;
  }
  li {
    list-style-type: none;
  }
  table,tr,td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  h1,h2,h3,h4,h5,h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
  }
  form, button,
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: flex;
    color: inherit;
  }
  body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    
    background-color: var(--negro);
    color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: none;
  }

  .circulos{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    
      z-index: 1;
      filter: blur(40px);
      animation:circulo1 50s linear infinite both;
  }

  .circulos .circulo{
      position: absolute;
      width: 50%;
      height: 50%;
      animation: circulo1 50s linear infinite both;  
  }
  .circulos .circulo1{
      top: 0%;
      left: 0%;   
  }
  
  .circulos .circulo1 .path{
      fill: seagreen;
  }
  .circulos .circulo2{
       top: 0%;
       right: 0%;
    }
    .circulos .circulo2 .path{
        fill: rgb(111, 0, 155);
    }
  .circulos .circulo3{
    bottom: 0%;
    left: 0%;
  }
  .circulos .circulo3 .path{
    fill: rgb(165, 127, 1);
}
  .circulos .circulo4{
     bottom: 0%;
     right: 0%;
  }
  .circulos .circulo4 .path{
    fill: rgb(0, 59, 155);
}
  

  .header{
      width: 100%;
      min-height: 5em;
      
      padding: 1em 2em;
      display: flex;
      flex-flow:row wrap ;
      justify-content: space-between;
      align-items: center;
      /* background: rgba(0,  0, 0, 0.75); */
      color: var(--blanco);
      position: relative;
      z-index: 2;

      font-family: var(--tipo-titular);
      font-size: 2em;
      font-weight: 600;
      line-height: 1em;
      align-items: flex-end;
   }
 
  .header .ul{
      display: flex;
      flex-flow:row wrap ;
      justify-content: space-between;
      align-items: flex-end;
      
  }
  .header .li{
      
      margin: 0 1em;
      
  }
 
  
.main{
    /* width: min(90%, 120rem);  */

    /* lio accaca */
    width: 100%;
    margin: 0 auto;
    background: rgba(0,  0, 0, 0.75);
    /* margin: 0 0 1em; */
    text-align: center;
    position: relative;
    z-index: 2;
}
.seccion{
    width: 100%;
    min-height: 80vh;
    padding: 2em;
    margin: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion .info{
    font-size: 1.2em;
    animation: aparecer1 2s ease 1 both;
    
}

.seccion .ul{
    margin: 0  auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.seccion .ul .li{
    
    margin: 1em 2em;
}
/* botonnes linque din github */

.seccion .ul .a{
    border: 2px solid rgba(255 , 255, 255, .2);
    border-radius: 10px;
    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    animation: aparecer1 2s ease 1 backwards ;
     margin: 3em; 
}
.seccion .ul>:nth-child(2) .a{
    animation-delay: .4s;
}

/* botones */

.seccion .ul .a:hover{
    border-color: var(--blanco);
    
}

.seccion .h2{
    font-family: var(--tipo-titular);
    font-size: 5em;
    font-weight: 800;
    font-size: 5em;
    line-height: 1em;
    margin: 1rem 0;
    text-align: center;
    
    color: white;
    
}
.seccion .h3{
    font-family: var(--tipo-titular);
    font-size: 4.3em;
    text-align: center;
    /* font-style: italic} */
}  
   /* lio acac */
.seccion .grid{
    width: 90%; 
    max-width: 55em; 
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 15rem,1fr ));
    gap: 3em;
    justify-content: center;
    align-items: center;
    
}
.grid {
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
}
    
.seccion .article{
    min-height: 20vh; 
    background:white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
}


.seccion .h4{
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-family: var(--tipo-principal);
    font-style: italic;
    opacity: 1;
    opacity: 0;
    transform: translatez(1%) scale(1.5);
    transition: all .5s ease;
}
.seccion .article:hover .h4{
    opacity: 1;
    transform: translateZ(1) scale(1);
}
.works{
    
    color: white;
   
}
.works .h2{
    margin: 1rem 1rem;
    text-align: center;
    
}
.works .p{
    font-size: 1.5em;
    margin: 1.5rem;
    text-align: center;
    
}

.about .h2{
    margin:  0 2rem;
    text-align: center;
    
} 
.about .p{
    max-width: 40rem;
    /* background: lime; */
    margin: 2.5rem 0 1rem;
    font-size: 1.5em;
    text-align: center;
}
.about .rrss{
    width: 100%;
    /* background: lightgreen; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.about .li{
    margin: 1em 1.5em;
    /* background: orange; */
}
.about .a{}
.about .svg{
    margin-top: 1em;
    width: 3em;
    height: 3em;
    /* background: red; */
    
}

.footer{
    /* background: lightpink; */
    padding: 2em 0;
    text-align: center;
    color: var(--blanco);
    position: relative;
    z-index: 2;
    font-family: var(--tipo-titular);
    font-weight: 500;

}
.footer .spam{}

@keyframes circulo1 {
    form{
        transform:rotate(0deg) scale(2);
      }
    to{
      transform:rotate(360deg) scale(2);
    }

}
@keyframes aparecer1{
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

#cursor{
    width: 5em;
    height: 5em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
    border-radius: 50%;
    mix-blend-mode: difference;
}
#cursor.mini{
    transform: scale(0.5);

}  



@media screen and (max-width: 576px) {
  .header{
    align-items: center;
    justify-content: center;
  }
  .header .h1{
    text-align: center;
    justify-content: center;
    
  }
  .header .nav .ul .li{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .seccion .ul .a{
    padding: 2rem;
  }

  .nav .ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 3rem; */
    font-size: 2rem;
    margin-top : 1rem;
    
    
  }
  .nav .ul .li{
    margin: 1rem 0;
    padding: .1rem;
    justify-content: center;
    align-items: center;
  }
  
}
@media screen and (min-width: 600px) {
  .nav .ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5rem;
    
    font-size: 2rem;
    margin-top : 2rem;
    margin-bottom: 2rem;
  
}
figure{
  background-color: black;
  
}
section .grid article {
  width: 80%;
  justify-content: center;
  align-items: center;
  
}

/* @media (min-width:768px ) {
  .nav {
      display: flex;
      gap: 3rem;
  }
}

.nav .ul {
  display: block;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  font-size: 2rem;
} */

 .centado section .grid h4 figure article a {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}